# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

.mastra/outputs/playground/**/*
.mastra/outputs/playground/**/*.js
.mastra/outputs/playground/assets/**/*
.mastra/outputs/playground/assets/**/*.js
# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local
gcp-vertexai-credentials.json
.env
.env.development
.mastra
.vscode
.mastra/*
.mastra/**/*
*.mastra
*.mastra/**/*
.mastra/output
*.mastra/output/*
*.mastra/output/**/*
.mastra/outputs/playground
*.mastra/outputs/playground/*
